{% extends "base.jinja"%}

{% block content %}
<h1>Add country</h1>
<form action="/countries" method="post">
    <label for="name">Name of country:</label><br>
    <input type="text" id="name" name="name">
    <input type="submit" value="Next">
</form>

{% endblock%}

{# {% for country in countries %}
    <div>
    {{ country.name }}
    <a href="/country/{{country.id}}">More info</a>
    
{% endfor %} #}
    
    
{#     
    </div> #}


