{% extends "base.jinja" %}

{% block content %}
<h1> {{country.name}} </h1>

<ul>
    {% for city in cities %}
    <li class="city">
    {{city.name}}
    {% if city.visited %}
        (Visited)
    {% else %}
        (Not Visited)
        {% endif %} 
        <form action="/cities/{{city.id}}" method="post">
        <input type="submit" value="Toggle Visited">
        </form>
        <form action="/cities/{{city.id}}/delete" method="post">
        <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
<a href="/addnewcity">Add city</a><br>


<a href="/countries/{{country.id}}/edit">Edit country</a>


{% endblock %}