{% extends "base.jinja" %}

{% block content %}
<h1> {{country.name}} </h1>

<ul>
    {% for city in cities  %}
    <li>{{city.name}}
    <p>
        <form action="/cities/{{city.id}}/delete" method="post">
        <input type="submit" value="Delete">
        </form>
    </p>
    </li>
    {% endfor %}
    
</ul>
<a href="/addnewcity">Add city</a><br>


<a href="/countries/{{country.id}}/edit">Edit country</a>


{% endblock %}