body {
    font-family: Verdana;
    background-color: lightblue;

}


.mainpage {
    font-size: 30px;
    font-family: Georgia;

    
}

.safe {
    font-size: 20px;
}


.country {
    font-size: 20px; 
    

}

.city {
    font-size: 20px;
}


input[type=text] {
    border-radius: 5px;
    width: 160px;
    height: 30px;
    font-size: 18px;
    color: #1c87c9;
    
}

input[type=submit] {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}


input[type=checkbox] {
    border-radius: 34px;
    height: 15px;
    width: 15px;
    
}

.link {

    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}



.dropdown {
    width: 160px;
    height: 30px;
    font-size: 18px;
    color: #1c87c9;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}




