<!DOCTYPE html>
<html>
    <head>
        <title>Where To Next?</title>
    </head>

    <body>
        <main> 
            <nav>
                <ul>
                    <li>
                        <a href="/new">New</a>
                    </li>
                    <li>
                        <a href="/curvis">Current/Visited</a>
                    </li>
                </ul>
                <p><i>Safe travels!</i></p>
            </nav>
            <section id="content">
                {% block content%}

                {% endblock%}
            </section>
        </main>
    
    </body>
</html>