<!DOCTYPE html>
<html>
    <head>
        <title>Where to next?</title>
    </head>

    <body>
        <main> class="flex flex--row">
            <nav>
                <h1>Wherre to next?</h1>
                <ul>
                    <li>
                        <a href="/new">New</a>
                    </li>
                    <li>
                        <a href"/Current Bucket List</li>
                    <li>Completed</li></ul>
                
            </nav>
        </main>
    
    </body>
</html>