{% extends "base.jinja"%}

{% block content %}

<ul>
{% for country in countries %}
    <li class="country">
    {{ country.name }}
    <p><a class="link" href="/countries/{{country.id}}">More info</a>
    </p>
    </li>
    {% endfor %}
</ul>    

<a href="/addcountry">Add new country</a>

{% endblock%}