{% extends "base.jinja"%}

{% block content %}
<div>
    <a href="countries/new">
        <button>New country</button>
    </a>
</div>    
<div>
    <a href="whichcountry">
        <button>New city</button>
    </a>
</div>
{% endblock%}